<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Mes vins
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="pushPage('ChoiceActionPage')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar placeholder="Filtrer les vins" showCancelButton color="danger" (ionInput)="filterItems($event)"></ion-searchbar>
  <ion-card *ngFor="let wine of wines" (click)="viewWine(wine)">

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <h3 style="font-weight: bold;">{{ wine.name }}</h3>
            <p>{{ wine.domaine }}</p><br/>
            <p><ion-icon *ngIf="wine.categorie_color !== undefined" name="wine" [style]="toRgba(wine.categorie_color)"></ion-icon>&nbsp;{{ wine.appellation }},&nbsp;{{ wine.millesime }}</p>
          </ion-col>
          <ion-col>
            <img src="{{ 'data:image/jpeg;base64,' + wine.img }}" item-start large >
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="pushPage('EditWinePage')"><ion-icon name="add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
