<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="id != null">
      Editer un vin
    </ion-title>

    <ion-title *ngIf="id == null">
      Cr&eacute;er un vin
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="pushPage('ChoiceActionPage')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding  text-center>

    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-input type="text"  placeholder="Nom du vin" [(ngModel)]="wine.name"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder="Millesime" [(ngModel)]="wine.millesime"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="Domaine" [(ngModel)]="wine.domaine"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input type="text" placeholder="Appellation (AOP ou AOC)" [(ngModel)]="wine.appellation"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img [src]="getImage(wine)" (click)="takePicture()"/>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label stacked>Type :&nbsp;</ion-label>
              <ion-select full style="width: 100%;" placeholder="Type de vin" [(ngModel)]="wine.id_categorie" multiple="false">
                <ion-option *ngFor="let categorie of categories" value="{{ categorie.id }}">{{ categorie.name }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label stacked>Garde :&nbsp;</ion-label>
              <ion-input type="text" [(ngModel)]="wine.garde"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Temp&eacute;rature :&nbsp;</ion-label>
              <ion-input type="text" [(ngModel)]="wine.temperature"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Quantité</ion-label>
              <ion-input type="number" [(ngModel)]="wine.stock"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label stacked style="text-align: left; text-decoration: underline;">Description</ion-label><br/>
          <ion-textarea type="textArea" placeholder="Saisir une description" [(ngModel)]="wine.description"></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label stacked>Code-barres</ion-label>
              <ion-input type="text" [(ngModel)]="wine.barcode"></ion-input><button ion-button (click)="scan()" item-right><ion-icon name="barcode"></ion-icon></button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  <button ion-button color="success" (click)="push(wine)" *ngIf="id == null">Sauvegarder</button>
  <button ion-button color="success" (click)="save(wine)" *ngIf="id != null">Sauvegarder</button>
</ion-content>
