<!--
  Generated template for the AdministrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Administration</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Administration
    </ion-list-header>

    <ion-item-group>
      <button ion-item (click)="pushPage('AdminCategoriePage')">
        <ion-icon name="wine" item-start color="secondary"></ion-icon>
        <ion-label>Cat&eacute;gories</ion-label>
      </button>
    </ion-item-group>
  </ion-list>
</ion-content>
