<!--
  Generated template for the DrinkWinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sortir une bouteille</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngIf="wine !== undefined">
    <ion-card-content>
      Il reste {{ wine.stock }} bouteille(s).<br/>
      Combien voullez-vous en sortir ?
      <ion-input type="number" [(ngModel)]="unstockQuantity" value=1></ion-input>
      <button ion-button color="success" (click)="drink(unstockQuantity)">Valider</button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="wine !== undefined">
    <img src="{{ 'data:image/jpeg;base64,' + wine.img }}">
    <ion-card-content>
      <ion-card-title>
        {{ wine.name }}
      </ion-card-title>
      <p>
        {{ wine.description }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
