<!--
  Generated template for the ViewWinePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ wine.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <h4>{{ wine.name }}</h4>
          </ion-col>
          <ion-col>
            <h4 style="text-align: right;">{{ wine.millesime }}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ wine.domaine }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ wine.appellation }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="{{ 'data:image/jpeg;base64,' + wine.img }}" />
          </ion-col>
          <ion-col>
              <p *ngIf="wine.categorie !== undefined">
                {{ wine.categorie.name }}
              </p>
              <p>
                Garde : {{ wine.garde }}
              </p>
              <p>
                Temp&eacute;rature : {{ wine.temperature }}
              </p>
              <p>
                Quantité : {{ wine.stock }}
              </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span style="text-align: left; text-decoration: underline;">Description</span><br/>
            <p>{{ wine.description }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span style="text-align: left; text-decoration: underline;">Code-barres:</span>&nbsp;{{ wine.barcode }}
          </ion-col>
        </ion-row>
      </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="edit(wine)"><ion-icon name="create"></ion-icon></button>
      <button ion-fab (click)="drink(wine)"><ion-icon name="wine"></ion-icon></button>
      <button ion-fab (click)="trash(wine)"><ion-icon name="trash"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
