<!--
  Generated template for the AdminCategoriePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cat&eacute;gories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item ion-item *ngFor="let categorie of categories">
      {{ categorie.name }}
      <button ion-button item-end outline color="light" (click)="edit(categorie.id, categorie.name)"><ion-icon name="create"></ion-icon>&nbsp;Editer</button>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="add()"><ion-icon name="create"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
