<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title style="text-align:center;"><ion-icon name="person" item-start></ion-icon>&nbsp;{{ getUserName() }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item menuClose [color]="getActivePage() == 'WelcomePage' ? 'primary' : 'light'" (click)="goToPage('WelcomePage')"><ion-icon name="pie" item-start></ion-icon>&nbsp;Tableau de bord</ion-item>
      <ion-item menuClose [color]="getActivePage() == 'ListWinePage' ? 'primary' : 'light'" (click)="goToPage('ListWinePage')"><ion-icon name="clipboard" item-start></ion-icon>&nbsp;Mes vins</ion-item>
      <ion-item menuClose [color]="getActivePage() == 'DishRelationPage' ? 'primary' : 'light'"><ion-icon name="bookmarks" item-start></ion-icon>&nbsp;Accords mets-vin</ion-item>
      <ion-item menuClose [color]="getActivePage() == 'ChoiceActionPage' ? 'primary' : 'light'" (click)="goToPage('ChoiceActionPage')"><ion-icon name="search" item-start></ion-icon>&nbsp;Rechercher un vin</ion-item>
      <ion-item menuClose [color]="getActivePage() == 'AdministrationPage' ? 'primary' : 'light'" (click)="goToPage('AdministrationPage')"><ion-icon name="settings" item-start></ion-icon>&nbsp;Param&egrave;tres</ion-item>
      <ion-item menuClose [color]="'light'" (click)="logout()"><ion-icon name="log-out" item-start></ion-icon>&nbsp;Se d&eacute;connecter</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>
