<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <h1 style="text-align:center;">Ma cave</h1>
    </ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="pushPage('ChoiceActionPage')">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center;">
    <h2 style="text-align:center;">Bonjour {{ getUserName() }}</h2><br/>
    <span>Il reste {{ countBottle }} bouteilles dans la cave &agrave; vin.</span><br/><br/>

    <div id="canvas-holder">
      <canvas #pieCanvas></canvas>
    </div>
  </div>
</ion-content>
