page-welcome {
  .ios, .md {

      page-home {

          .scroll-content {
              background-color: map-get($colors, light);
          }

          ion-card-header {
              font-weight: bold;
          }

      }

  }
}
