<!--
  Generated template for the ChoiceActionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      <h1 style="text-align:center;">Ma cave</h1>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row center>
      <ion-col>
        <button style="margin-top: 33%; height: 5em;" ion-button block (click)="scan()"><ion-icon name="camera"></ion-icon>&nbsp;&nbsp;&nbsp;Recherche par Code-barres</button><br/>
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col>
        <button style="margin-top: 17%; height: 5em;" ion-button block (click)="goToPage('ListWinePage')"><ion-icon name="list"></ion-icon>&nbsp;&nbsp;&nbsp;Liste des vins</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
